<header class="admin-header">
        <nav class="admin-nav">
            <!-- BARRA DE NAVEGACIÓN -->
             <ul>
                <!--
                <li><a class="html-links" href="index">Ver</a></li>
                <li><a class="html-links" href="search">Consultar Id</a></li>
                <li><a class="html-links" href="create">Crear</a></li>
                <li><a class="html-links" href="update">Modificar</a></li>
                <li><a class="html-links" href="eliminate">Eliminar</a></li>
                -->
                <li><a class="html-links" href="index">Ver</a></li>
                <li><a class="html-links" href="search">Consultar Id</a></li>
                <li><a class="html-links" href="create">Crear</a></li>
                <li><a class="html-links" href="update">Modificar</a></li>
                <li><a class="html-links" href="eliminate">Eliminar</a></li>
            </ul>
        </nav>
    </header>