<header class="admin-header">
        <nav class="admin-nav">
            <!-- BARRA DE NAVEGACIÓN -->
             <ul>
                <li><a class="html-links" href="dashboard">Ver</a></li>
                <li><a class="html-links" href="buscarIdAdmin.ejs">Consultar Id</a></li>
                <li><a class="html-links" href="crearAdmin.html">Crear</a></li>
                <li><a class="html-links" href="modificarAdmin.html">Modificar</a></li>
                <li><a class="html-links" href="eliminarAdmin.html">Eliminar</a></li>
            </ul>
        </nav>
    </header>