<%- include("partials/head.ejs") %>
<body>
    <%- include("partials/nav.ejs") %>
    <main class="admin-main">     
        <h1>Buscar elemento por id de producto</h1>
        <form id="input">
            <label for="id">Id del producto: </label>
            <input type="text" id="id" name="id">
            <input type="submit" value="Eliminar"> <!-- envía los datos del form(específicamente el texto del input del input) -->
        </form> 
        <div id="contenedor-productos-id">
        </div>
    </main>
    <script  src="js/eliminar.js"></script>
<%- include("partials/footer.ejs") %>